html,
body {
  height: 100%;
}

* {
  font-family: "Work Sans", sans-serif;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-404 {
  background-color: #6c757d;
}

.strip {
  background-color: rgba(255, 255, 255, 0.65);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.strip-contain {
  background-size: contain;
}

.strip-cover {
  background-size: cover;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -60px;
}

.profile-img {
  width: 100%;
  max-width: 150pt;
  border-radius: 50%;
}

.email-signup {
  min-height: 250pt;
  min-width: 200pt;
  max-width: 300pt;
}

.info-card {
  background-color: rgba(245, 245, 245, 0.6) !important;
}

.footer-socials > a {
  padding: 10px;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 6px solid #ccc;
}
