{{ define "empty_navbar" }}
{{ partial "empty_navbar.html" . }}
{{ end }}

{{ define "main" }}


<div class="container py-5">
  <div class="row">
    <!-- empty container for header if choose to
    <h1>
        {{ .Title }}
    </h1> -->
  </div>
</div>

<div class="container pt-6 pb-md-12">
  <div class="row">
    {{ range .Pages }}
    <div class="col-4">
      <div class="card">
        <a href="{{ .Permalink }}" style="text-decoration: none">
          <img class="card-img-top" src="{{ .Params.intro_image }}" style="max-width: 100%;"/>
          <div class="card-body px-3 py-3">
            <h5> {{.Title}} </h5>
            <p style="color: black;"> {{.Date.Format "2006-01-02"}} • {{ .ReadingTime }} min read </p>
          </div>
        </a>
        <div class="container py-3">
          {{ if isset .Params "tags" -}}
          {{ $tagsLen := len .Params.tags }}
          {{ if gt $tagsLen 0 -}}
              
              {{ range $k, $v := (sort .Params.tags) -}}
              <a href="/tags/{{ . | urlize | lower }}" class="badge badge-light">{{ . }}</a>
              {{ if lt $k (sub $tagsLen 1) }} &nbsp; {{ end }}
              {{- end }}
          {{- end }}
          {{- end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<style>
.card {
  transition: box-shadow .3s;
  background: #fff;
  float: left; 
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
</style>

{{ end }}