{{ define "empty_navbar" }}
{{ partial "empty_navbar.html" . }}
{{ end }}

{{ define "main" }}
<div id="content" style="min-height: 100%;">

  <div class="container py-5">
    <div class="row">
      <!-- empty container for header if choose to
      <h1>
          {{ .Title }}
      </h1> -->
    </div>
  </div>

  <style>
    .card-img-top{
      max-width: 100%;
      height: 100pt;
      object-fit: contain; 
    }
  </style>
  <div class="container pt-6 pb-md-12">
    <div class="row">
      {{ range .Pages }}
      <div class="col-4">
        <div class="card">
          <a href="{{ .Permalink }}" style="text-decoration: none">
            {{ if isset .Params "image" }}
            <img class="card-img-top" src="{{ .Params.image }}"/>
            {{ else }}
            <img class="card-img-top" src="{{ .Site.Params.image }}" />
            {{ end }}
            <div class="card-body px-3 py-3">
              <h5> {{.Title}} </h5>
              <p style="color: black;"> {{.Date.Format "2006-01-02"}} • {{ .ReadingTime }} min read </p>
            </div>
          </a>
          {{ partial "tags.html" . }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

<style>
.card {
  transition: box-shadow .3s;
  background: #fff;
  float: left; 
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
</style>

{{ end }}