{{ define "empty_navbar" }}
{{ partial "empty_navbar.html" . }}
{{ end }} 

{{ define "meta" }}
{{ partial "meta.html" . }}
{{ end }}

{{ define "main" }}
<div class="container offset-md-2 col-md-8 py-5">
  <div class="container py-5">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="container py-5">
    {{ .Content }}
  </div>
  {{ if (not (eq .Site.DisqusShortname "")) | and (not .Params.disableComments) }}
    <div class="conatiner py-5">
      {{ template "_internal/disqus.html" . }}
    </div>
	{{ end }}
</div>
{{ end }}
