{{ define "empty_navbar" }}
{{ partial "empty_navbar.html" . }}
{{ end }} 

{{ define "main" }}
<div class="container offset-md-2 col-md-8 py-5">
  <div class="container py-5">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="container">
    <p style="color: black;"> {{.Date.Format "2006-01-02"}} • {{ .ReadingTime }} min read </p>
  </div>
  {{ partial "tags.html" . }}
  <div class="container py-5">
    {{ if isset .Params "image" }}
    <div class="text-center py-3">
      <img src="{{ $.Params.image }}" style="width: 60%" />
    </div>
    {{ end }}

    {{ partial "headline-hash.html" .Content }}
  </div>
  {{ if (not (eq .Site.Config.Services.Disqus.Shortname "")) | and (not .Params.disableComments) }}
    <div class="conatiner py-5">
      {{ template "_internal/disqus.html" . }}
    </div>
	{{ end }}
</div>
{{ end }}
