<div
  class="row py-3 px-0 mx-0"
  style="width: 100%; background-image: linear-gradient(#fc5c7d, #6a82fb)"
>
  <div
    class="col col-12 col-md-6 text-center align-self-center"
    style="color: white"
  >
    <strong>Featured App</strong>
    <h1>Chopin</h1>
    <p>
      Create beautiful online store in 30 seconds. <br />
      With Google Sheets and Gmail.
    </p>
    <a
      href="https://telescope.apiobuild.com/"
      target="_blank"
      style="text-decoration: none"
    >
      <button type="button" class="btn btn-outline-light btn-lg shadow mt-2">
        Try Now
      </button>
    </a>
    <a
      href="https://apiobuild.com/docs/docs/apps/chopin/introduction/"
      target="_blank"
    >
      <button type="button" class="btn btn-outline-light btn-lg shadow mt-2">
        Explore Docs
      </button>
    </a>
  </div>
  <div class="col col-12 col-md-6 pt-3 text-center">
    <div class="marvel-device iphone-x">
      <div class="notch">
        <div class="camera"></div>
        <div class="speaker"></div>
      </div>
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="bottom-bar"></div>
      <div class="volume"></div>
      <div class="overflow">
        <div class="shadow shadow--tr"></div>
        <div class="shadow shadow--tl"></div>
        <div class="shadow shadow--br"></div>
        <div class="shadow shadow--bl"></div>
      </div>
      <div class="inner-shadow"></div>
      <div class="screen">
        <div
          id="chopin-app-carousel"
          class="carousel slide"
          data-ride="carousel"
          data-interval="2000"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="d-block w-100"
                src="/images/chopin-app/chopin-1.png"
                alt="First slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/images/chopin-app/chopin-4.png"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/images/chopin-app/chopin-2.png"
                alt="Third slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/images/chopin-app/chopin-3.png"
                alt="Third slide"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .marvel-device {
    zoom: 0.6;
  }
</style>
