<a class="anchor" id="{{ .contentName }}"></a>
<div class="container-fluid p-0 m-0">
  {{ $headless := .Site.GetPage .contentName }}
  {{ $reusablePages := $headless.Resources.ByType "page" }}
  {{ $reusablePages := sort $reusablePages ".Params.weight" }}
  {{ range $reusablePages }}
  <div
    id="{{ .Params.Anchor }}"
    class="strip {{ if .Params.backgroundSize  }}strip-{{ .Params.backgroundSize }}{{ else }}strip-contain{{ end }}"
    style="background-image: {{ if .Params.background }} url('{{ .Params.background }}') {{ else }} unset {{ end }}"
  >
    <div class="container py-5 mx-0">
      <div class="row py-5">
        <div
          class="col offset-sm-{{ .Params.offset }}"
        >
          <h1 class="text-capitalize">{{ .Title }}</h1>
          <p>{{ .Content }}</p>
          {{ if .Params.button }}
          <a class="button" href="{{ .Params.buttonLink }}" target="_blank">
            <button type="button" class="btn btn-light">
              {{ .Params.button }}
            </button>
          </a>
          {{ end }}
        </div>

        {{ if .Params.signup }}
        <div class="col">
        {{ partial "email_signup.html" . }}
        {{ end }}
        </div>

        {{ if .Params.pricing }}
        <div class="row ml-sm-5 align-content-center justify-content-center pricing">
        {{ partial "pricing.html" . }}
        {{ end }}
        </div>

        {{ if .Params.product }}
        <div class="col offset-sm-2 px-0" style="width: 80%">
        {{ partial "product.html" . }}
        {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
  </div>
</div>
