<div class="col col-md-4 col-12">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="form-group col-12">
            <input
              type="text"
              class="form-control"
              id="fname"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group col-12">
            <input
              type="text"
              class="form-control"
              id="femail"
              placeholder="Enter email"
            />
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-primary"
              onclick="submitForm()"
            >
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    let token =
      "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImIwZGVhODAxLWI1N2ItMTFlYS1hM2M0LTYzZDEwYzc2ODJkNyIsImF1ZCI6Imh0dHBzOi8vYXBpb2J1aWxkLmNvbSIsImlhdCI6MTU5MzM3MzEwOCwiaXNzIjoiZ29vZ2xlLW9hdXRoMnwxMTcwOTA3MTM5NjIwMjgxOTMwMzUiLCJzdWIiOiJnb29nbGUtb2F1dGgyfDExNzA5MDcxMzk2MjAyODE5MzAzNSJ9.btULqOzCjZlfPZwAdscziLmorDoDdFbusaKU5EFi6E0";
    let url =
      "https://trampoline.apiobuild.com/router/waitress/gsheets/1jAJPHwVQ9L37izcEKYLnrTjCnrV-e0P4NS342VMvv3U";

    function submitForm() {
      var http = new XMLHttpRequest();
      http.open("POST", url, true);
      http.setRequestHeader("Authorization", token);
      http.setRequestHeader("Content-type", "application/json");

      let name = document.getElementById("fname").value;
      let email = document.getElementById("femail").value;
      let created = new Date().toISOString();
      let payload = [
        {
          Name: name,
          Email: email,
          Created: created,
        },
      ];
      http.send(JSON.stringify(payload));
    }
    function updateTable() {
      let http = new XMLHttpRequest();
      http.onreadystatechange = function () {
        if (http.readyState === 4) {
          let resp = http.response.data;
          let data = resp[resp.length - 1];
          document.getElementById("tname").innerHTML = data["Name"];
          document.getElementById("temail").innerHTML = data["Email"];
          document.getElementById("tcreated").innerHTML = data["Created"];
        }
      };
      http.responseType = "json";
      http.open("GET", url, true);

      http.setRequestHeader("Authorization", token);
      http.setRequestHeader("Content-type", "application/json");
      http.send();
    }
  </script>
</div>
