<div class="col col-12">
  <div class="col col-12 pt-5 text-center">
    <h5>
      Empower small businesses and entrepreneurs to build software fast and
      easy.
    </h5>
  </div>
  <div class="row justify-content-center pt-5 px-3 px-sm-5">
    <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
      <div class="card shadow text-center" style="height: 380px">
        <span class="py-5">
          <i
            class="fas fa-puzzle-piece"
            style="font-size: 50px; color: orange"
          ></i>
        </span>
        <div class="card-body">
          <h6 style="font-weight: 800">MODULAR</h6>
          Why onboard complex platform for a fraction of functionality? Our app
          is designed to be simple and modular.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
      <div class="card shadow text-center" style="height: 380px">
        <span class="py-5">
          <i
            class="far fa-money-bill-alt"
            style="font-size: 50px; color: green"
          ></i>
        </span>
        <div class="card-body">
          <h6 style="font-weight: 800">LOW COST</h6>
          Free to start. Usage based pricing. Only pay for what you need.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 py-4 px-2 px-sm-4">
      <div class="card shadow text-center" style="height: 380px">
        <span class="py-5">
          <i class="fas fa-wrench" style="font-size: 50px; color: darkgrey"></i>
        </span>
        <div class="card-body">
          <h6 style="font-weight: 800">BYOA</h6>
          Bring your own APIs. No more platform lock in. We welcome third party
          APIs.
        </div>
      </div>
    </div>
  </div>

  <div class="col text-center pt-3">
    <a class="button" href="https://apiobuild.com/docs/" target="_blank">
      <button
        type="button"
        class="btn btn-outline-primary btn-lg"
        style="width: 200px"
      >
        Explore Docs
      </button>
    </a>
  </div>
</div>
