<div class="col col-12 text-center">
  <div class="col">
    apio's App Platform empowers small businesses and entrepreneurs to build
  </div>

  <p>Go to Telescope, apio's App Platform, and start building now.</p>
  <a class="button" href="https://telescope.apiobuild.com/" target="_blank">
    <button type="button" class="btn btn-outline-primary btn-lg">
      Try Now for Free
    </button>
  </a>
  <a class="button" href="https://apiobuild.com/docs/" target="_blank">
    <button type="button" class="btn btn-info btn-lg">Explore the Docs</button>
  </a>
</div>
