<div class="row py-5 w-100">
  <div class="col col-12 col-sm-6">
    <div class="col">
      <h5>Keep in Touch</h5>
      {{ partial "email_signup.html" (dict "Text" "Sign Up" "Color" "secondary"
      "SuccessColor" "dark" "id" "footer-email-signup")}}
    </div>
    <div class="col">
      <h5>Stay Connected</h5>
      <div class="col px-0 footer-socials" style="font-size: 1.2rem">
        {{ partial "social.html" (dict "Params" site.Params) . }}
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="row w-100">
      <div class="col col-12 col-sm-4">
          <h5>Get Started</h5>
          <h6>Telescope</h6>
          <h6>Feature</h6>
          <h6>Product</h6>
          <h6>Pricing</h6>
      </div>
      <div class="col col-12 col-sm-4">
          <h5>About</h5>
          <h6>Our Story</h6>
          <h6>Team</h6>
          <h6>Blog</h6>
      </div>
      <div class="col col-12 col-sm-4">
          <h5>Help</h5>
          <h6>Docs</h6>
          <h6>Support</h6>
          <h5 class="pt-1">Legal</h5>
          <a class="text-light" href="{{ "/privacy-policy" | relURL }}"><h6>Privacy Policy</h6></a>
          <a class="text-light" href="{{ "/terms-of-service" | relURL }}"><h6>Terms of Use</h6></a>
      </div>
    </div>
  </div>
</div>
