<footer class="footer">
  <nav class="navbar sticky-bottom bg-dark">
    <div class="container text-light font-weight-light">
      <div class="row no-gutters w-100 justify-content-center py-4">
        <div class="col w-100 text-center footer-socials">
          {{ partial "social.html" (dict "Params" .Site.Params) . }}
        </div>
      </div>
      <div class="row no-gutters w-100 justify-content-center py-4">
        <div class="col w-100 text-center">
          {{ .Site.Params.footer }}
        </div>
    </div>
    <div class="row no-gutters w-100">
      <div class="col-12 col-md-6 text-md-left text-center">
          <a class="text-light" href="/privacy-policy">Privacy Policy</a> &
          <a class="text-light" href="/terms-of-service">Terms of Service</a>
        </div>
      <div class="col-12 col-md-6 text-md-right text-center">
        <a
          class="text-secondary"
          href="https://stories.freepik.com/"
          target="_blank"
          >Illustration by Stories by Freepik</a
        >
      </div>
    </div>
  </nav>
</footer>
