<div id="form-container">
  <iframe
    id="business-form"
    onload="setIframeSize();"
    src="https://docs.google.com/forms/d/e/1FAIpQLSdZ3_LKgWJOloE0SKP7GuHNNXkR2lu5BDTnl_AxmIG_v6Sx7Q/viewform?embedded=true"
    width="100%"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    style="height: -webkit-fill-available;"
  >
    Loading…
  </iframe>
</div>

<script type="text/javascript">
  function setIframeSize() {
    function getAndSetSize() {
      let form = document.getElementById("business-form");
      window.postMessage(form.scrollHeight, "/");
      window.addEventListener(
        "message",
        function (event) {
          formDiv = document.getElementById("form-container");
          formDiv.style.height = event.data * 1.15 + "pt";
          console.log("set", formDiv.style.height, new Date().getTime());
        },
        false
      );
    }
    getAndSetSize();
    setTimeout(getAndSetSize, 50);
  }
</script>
