<div class="row align-items-center ml-sm-3 px-3" style="height: 92%">
  <div class="col col-12">
    <h1>Democratizing Great Software for Everyone</h1>
    <h5>
      Low Code SaaS Platform for Small Businesses, Entrepreneur and Beyond
    </h5>
    <a
      href="https://telescope.apiobuild.com/"
      target="_blank"
      style="text-decoration: none"
    >
      <button
        type="button"
        class="btn btn-primary btn-lg shadow mt-2"
        style="width: 200px"
      >
        Try Now
      </button>
    </a>
    <a href="https://calendly.com/apiobuild" target="_blank">
      <button
        type="button"
        class="btn btn-light btn-lg shadow mt-2"
        style="width: 200px"
      >
        Request Demo
      </button>
    </a>
  </div>
</div>
