{{if eq .Section "blog"}}
<title>{{ $.Params.title }}</title>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ $.Params.title }}" />
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />

<meta name="twitter:title" content="{{ $.Params.title }}" />
<meta name="twitter:twitter:description" content="{{ .Summary }}" />

{{ if isset .Params "image" }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ $.Params.image }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}{{ $.Params.image }}" />
{{ else }}
<meta
  property="og:image"
  content="{{ .Site.BaseURL }}{{ .Site.Params.image }}"
/>
<meta
  name="twitter:image"
  content="{{ .Site.BaseURL }}{{ .Site.Params.image }}"
/>
{{ end }} {{ else }}
<title>{{ .Site.Title }}</title>
<meta property="og:type" content="{{ .Site.Params.meta.meta_og_type }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta name="description" content="{{ .Site.Params.meta.meta_description }}" />
<meta
  property="og:description"
  content="{{ .Site.Params.meta.meta_description }}"
/>

<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta
  name="twitter:twitter:description"
  content="{{ .Site.Params.meta.meta_description }}"
/>

<meta
  property="og:image"
  content="{{ .Site.BaseURL }}{{ .Site.Params.image }}"
/>
<meta
  name="twitter:image"
  content="{{ .Site.BaseURL }}{{ .Site.Params.image }}"
/>

{{ end }}

<meta name="twitter:card" content="{{ .Site.Params.meta.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.meta.meta_twitter_site }}" />
