<div class="col col-12 text-center">
  <h1>Platform Pricing</h1>
</div>
<div
  class="row px-0 mx-0 align-content-center justify-content-center"
  style="width: 100%"
>
  <div class="col col-md-3 col-12 px-1">
    <div class="pricing card mx-3">
      <div class="pricing-enlarge text-center">
        <h1>Free</h1>
        <h3>$0 FOREVER</h3>
      </div>
      <div class="pricing-description mb-3">
        For small business to validate products and build audience.
      </div>
      <div class="pricing-details">
        <ul>
          <li>Up to 5000 API requests per month</li>
          <li>Amazon product recommendations on Chopin page</li>
          <li>Access to Chopin, Waitress and Post-It API</li>
          <li>8/5 Customer Support</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col col-md-3 col-12 px-1">
    <div class="pricing card mx-3">
      <div class="pricing-enlarge text-center">
        <h1>Basic</h1>
        <h3>$5/mo</h3>
        <h5>+ $1/1000 requests</h5>
      </div>
      <div class="pricing-description mb-3">
        For growing businesses to provide optimized customer experience with our
        automation solutions.
      </div>
      <div class="pricing-details">
        <ul>
          <li><b>First 5000 API requests included</b></li>
          <li>No Amazon product recommendations on Chopin page</li>
          <li>Access to Chopin, Waitress and Post-It API</li>
          <li>24/7 Customer Support</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col col-md-3 col-12 px-1">
    <div class="pricing card mx-3">
      <div class="pricing-enlarge text-center">
        <h1>Partnership</h1>
        <a href="/forms/business" target="_blank">
          <button type="button" class="btn btn-primary btn-lg">
            Contact Us
          </button>
        </a>
      </div>
      <div class="pricing-description mb-3">
        Build custom business software solutions at scale.
      </div>
      <div class="pricing-details">
        <ul>
          <li>Access to our road map and latest features.</li>
          <li>
            Tech and product support in the ideation and implementation process.
          </li>
          <li>Subscription pricing and continued support in production.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .pricing-enlarge {
    height: 200px;
  }
  .pricing-description {
    height: 100px;
  }
  .pricing-details {
    height: 280px;
  }
  .pricing.card {
    padding: 10px;
  }
</style>
