<div class="row align-content-center justify-content-center">
  <div class="col col-md-4 col-12 text-center">
    <img class="product-img" src="/images/blog/free.png" />
    <div class="row px-3 text-left">
      <h6>Free</h6>
      Chopin is free. We operate on ad-generated revenue with paid options to
      remove ads in your store.
    </div>
  </div>
  <div class="col col-md-4 col-12 text-center">
    <img class="product-img" src="/images/blog/google-sheet.png" />
    <div class="row px-3 text-left">
      <h6>No Code Required</h6>
      Backend is operated on google sheet, which means you can update your website on it.
    </div>
  </div>
  <div class="col col-md-4 col-12 text-center">
    <img class="product-img" src="/images/blog/multi-language.png" />
    <div class="row px-3 text-left">
      <h6>Multi Language Support</h6>
      Our API supports any language. Currently in English and Mandarin is coming
      soon.
    </div>
  </div>
  <div class="col col-md-4 col-12 text-center">
    <img class="product-img" src="/images/blog/responsive.png" />
    <div class="row px-3 text-left">
      <h6>Responsive Design</h6>
    Chopin-generated websites are mobile-friendly and work with any platform.
    </div>
  </div>
  <div class="col col-md-4 col-12 text-center">
    <img class="product-img" src="/images/blog/api-link.png" />
    <div class="row px-3 text-left">
      <h6>Bring your own API</h6>
      Use your own API with Chopin or use our API to integrate with third-party
      software.
    </div>
  </div>
</div>

<style>
  .product-img {
    max-width: 80%;
    height: 150pt;
    object-fit: contain;
  }
</style>
