{{ if .Params.LinkedIn }}
<a href="{{ .Params.LinkedIn }}" target="_blank">
  <i class="fab fa-linkedin fa-lg" color="DodgerBlue"></i>
</a>
{{ end }} {{ if .Params.Github }}
<a href="{{ .Params.Github }}" target="_blank">
  <i class="fab fa-github fa-lg" color="black"></i>
</a>
{{ end }} {{ if .Params.Facebook }}
<a href="{{ .Params.Facebook }}" target="_blank">
  <i class="fab fa-facebook-square fa-lg" color="white"></i>
</a>
{{ end }} {{ if .Params.Email }}
<a href="mailto:{{ .Params.Email }}">
  <i class="fas fa-envelope fa-lg" color="white"></i>
</a>
{{ end }} {{ if .Params.LinkedInFooter }}
<a href="{{ .Params.LinkedIn }}" target="_blank">
  <i class="fab fa-linkedin fa-lg" color="white"></i>
</a>
{{ end }} {{ if .Params.Instagram }}
<a href="{{ .Params.Instagram }}" target="_blank">
  <i class="fab fa-instagram fa-lg" color="white"></i>
</a>
{{ end }} {{ if .Params.YouTube }}
<a href="{{ .Params.YouTube }}" target="_blank">
  <i class="fab fa-youtube fa-lg" color="white"></i>
</a>
{{ end }}
