<div id="team" class="container py-5 px-sm-3">
    <div class="row justify-content-center">
        <h2 class="text-primary text-center text-capitalize">Team</h2>
    </div>
    <div class="row justify-content-center py-5">
        {{ $headless := .Site.GetPage "/team" }}
        {{ $reusablePages := $headless.Resources.ByType "page" }}
        {{ $reusablePages := sort $reusablePages ".Params.weight" }}
        {{ range $reusablePages }}
        <div class="col-sm justify-content-center text-center">
            <img class="profile-img" src="{{ .Params.profile_img }}" />
            <div class="row py-3 justify-content-center text-center">
                <p class="text-primary text-capitalize">{{ .Title }}</p>
            </div>
            <div class="row justify-content-center text-center">
                {{ if .Params.linkedin }}
                <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
                {{ end }}
            </div>
            <div class="row px-3">
                <p class="text-left">{{ .Description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>