<div class="col col-12 text-center">
  <h1 class="text-capitalize">Try Now</h1>
  <p>Go to Telescope, apio's App Platform, and start building now.</p>
  <a class="button" href="https://telescope.apiobuild.com/" target="_blank">
    <button type="button" class="btn btn-outline-primary btn-lg">
      Try Now for Free
    </button>
  </a>
  <a class="button" href="{{ .Params.buttonLink }}" target="_blank">
    <button type="button" class="btn btn-secondary btn-lg">
        Explore the Docs
    </button>
  </a>
</div>
