$primary: #007bff;
$secondary: #fcd236;
$body-bg: #fefefe;
$body-color: #111;

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
$font-family-base: 'Lato',
sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

// full screen banner mask
.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-404 {
  background-color: $secondary
}

.strip {
  background-color: rgba($white, 0.65);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.strip-contain {
  background-size: contain;
}

.strip-cover {
  background-size: cover;
}

// anchor offset
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -60px;
}

// profile img
.profile-img {
  width: 100%;
  max-width: 150pt;
  border-radius: 50%;
}

// info-card
.info-card {
  background-color: rgba(245, 245, 245, 0.6) !important;
}