{{ define "banner" }}
<div
  class="banner banner-404 container-fluid h-100"
  style="background-image: url('/platform/images/404.png')"
>
  <div
    class="row text-center align-middle align-items-center justify-content-center"
    style="height: 100%"
  >
    <div
      class="row container-fluid align-middle align-items-center justify-content-center mt-5 pt-5"
    >
      <div class="info-card card border-0">
        <div class="card-body">
          <span>
            <h1><i class="far fa-sad-tear"></i> You've Gone Strayed!</h1>
          </span>
        </div>
      </div>
    </div>
    <div
      class="row container-fluid align-middle align-items-center justify-content-center"
    >
      <div class="col-5">
        <a href="/">
          <button
            type="button"
            class="btn btn-lg btn-block btn-primary border-0"
          >
            go home
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
{{ end }}
