<div
  class="row mx-0 py-3 px-3"
  style="
    width: 100%;
    background-image: linear-gradient(#6a82fb, #4bc0c8, #ffffff);
  "
>
<div class="row flex-wrap-reverse flex-sm-wrap mx-auto" style="width: 700px">
    <div class="col col-12 col-md-6 pt-3 text-center">
    <div class="marvel-device iphone-x">
      <div class="notch">
        <div class="camera"></div>
        <div class="speaker"></div>
      </div>
      <div class="top-bar"></div>
      <div class="sleep"></div>
      <div class="bottom-bar"></div>
      <div class="volume"></div>
      <div class="overflow">
        <div class="shadow shadow--tr"></div>
        <div class="shadow shadow--tl"></div>
        <div class="shadow shadow--br"></div>
        <div class="shadow shadow--bl"></div>
      </div>
      <div class="inner-shadow"></div>
      <div class="screen">
        <video width="100%" autoplay="true" loop=true>
        <source src="/video/goldfish-app.mp4" type="video/mp4" />
      </div>
    </div>
  </div>
  <div
    class="col col-12 col-md-6 pb-3 text-center align-self-center"
    style="color: white"
  >
    <strong>Featured App</strong>
    <h1>Goldfish</h1>
    <p>
      One page website in a few click. <br />
      Email Signup pre-configured.
    </p>
    <a href="https://telescope.apiobuild.com/" target="_blank" style="text-decoration: none">
      <button type="button" class="btn btn-outline-light btn-lg shadow mt-2">
        Try Now
      </button>
    </a>
    <a
      href="https://apiobuild.com/blog/how-to-set-up-website-with-goldfish/"
      target="_blank"
    >
      <button type="button" class="btn btn-outline-light btn-lg shadow mt-2">
        Explore Docs
      </button>
    </a>
  </div>
  </div>
</div>
